body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	color: whitesmoke;
	user-select: none;
	background-color: #001143;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
* {
	box-sizing: border-box;
}

.generate-merged-header .site-header {
	z-index: 1;
}

#particles-js {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 0;
}

.page-header-content {
	position: relative;
}

.particles-js-canvas-el {
	z-index: 0;
}
.container {
	width: 80vw;
	/* height: 70vh; */
	margin: auto;
	margin-top: 20px;
	padding: 2rem 5rem;
	background: linear-gradient(
		112.53deg,
		rgba(255, 255, 255, 0.38) 4.91%,
		rgba(255, 255, 255, 0) 135.61%
	);
	border: 1px solid #000000;
	box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
	opacity: 0.92;
	backdrop-filter: blur(12.5px);
	border-radius: 2.5rem;
	display: flex;
	flex-direction: row;
	min-height: 75vh;
}

.container__text {
	width: 50vw;
	text-align: left;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	padding-top: 12vh;
	margin: 0 20px;
}
.container__gamePreview {
	background: #d9d9d9;
	border-radius: 40px;
	width: 35vw;
	margin: 2vh 5vh 2vh 5vh;
	z-index: 10000;
	position: relative;
	right: -10vh;
}

.gamePreview_button {
	background: #ffffff;
	border: 1px solid #ffffff;
	box-shadow: 0px 1px 2px rgba(198, 228, 246, 0.05);
	border-radius: 999px;
	min-width: 40%;
	color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1rem 1.5rem;
	position: absolute;
	bottom: 5%;
	right: 50%;
	transform: translateX(50%);
}

.heading-text-primary {
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-size: 6rem;
	line-height: 5rem;
}

.heading-text-secondary {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 3rem;
	margin-top: 1rem;
}

.countdown {
	padding: 5vh 2vw;
	transform: translateX(-6%);
	display: flex;
	justify-content: space-around;
	gap: 1rem;
	max-width: 80%;
}

.countdown__text {
	background: rgba(8, 15, 26, 0.75);
	border-radius: 22px;
	text-align: center;
	width: 13vh;
	/* height: 13vh; */
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.countdown_value {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 47px;
	text-align: center;
	color: #ffffff;
}

.countdown_value_text {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 100;
	font-size: 1rem;
	text-align: center;
	text-transform: uppercase;
	color: #a5deff;
}

/* CSS Code for Navbar */

#main-nav {
	padding-right: 7.05vw;
	padding-left: 7vw;
	margin-bottom: 27px;
	padding-top: 20px;
	margin-top: 10px;
	overflow: hidden;
}

#main-logo,
#kjsce-logo,
#trust-logo {
	object-fit: contain;
}

#main-logo {
	width: 220px;
}

#kjsce-logo {
	width: 160px;
}

#trust-logo {
	width: 70px;
}

#logo-2 {
	margin-left: 30px;
}

/* Navbar CSS ends here */

@media screen and (max-width: 1250px) {
	.container {
		flex-direction: column-reverse;
		padding: 5vh 10vw;
		width: 80vw;
	}
	.container__gamePreview {
		min-height: 40vh;
		width: 100%;
		margin: 0;
		right: 0vh;
	}
	.container__text {
		width: 100%;
		display: inline;
		margin: 0;
	}
	.heading-text-primary {
		font-size: 2rem;
		line-height: 3rem;
	}
	.heading-text-secondary {
		display: none;
	}
	.container__text {
		flex-direction: row;
		padding-top: 2vh;
		text-align: center;
	}
	.countdown{
		align-items: center;
		width: 100%;
		transform: translateX(0);
		justify-content: center;
		max-width: initial;
	}
	.countdown__text{
		background: transparent;
		padding: 10px;
	}
}

@media screen and (max-width: 580px) {
	/* #main-nav {
		padding-top: 32px;
	} */
	#main-logo {
		width: 180px;
	}
	#kjsce-logo {
		width: 130px;
	}
	#trust-logo {
		width: 60px;
	}
	#logo-2 {
		margin-left: 17px;
	}
}

@media screen and (max-width: 460px) {
	#main-nav {
		padding-right: 3vw;
		padding-left: 3.5vw;
		margin-top: 25px !important;
		padding-top: 4px !important;
		overflow-x: hidden;
	}
	#main-logo {
		width: 145px;
	}
	#kjsce-logo {
		width: 90px;
	}
	#trust-logo {
		width: 50px;
	}
	#logo-2 {
		margin-left: 14px;
	}
	.countdown__text{
		padding: 0;
	}
	.heading-text-primary{
		font-size: 1.4rem;
	}
	.countdown_value{
		font-size: 22px;
	}
	.countdown_value_text{
		font-size: 10px;
	}
}
